
@model CreatedEmployeeDto
@{
    ViewData["Title"] = "Create";
}
<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-4">Create New Employee</h1>
    <br />
    <br />

    <form asp-action="Create" class="row col-6">

        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group col-6">
            <label class="form-label" asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />

            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label class="col-form-label" asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label class="col-form-label" asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label class="col-form-label" asp-for="Age"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label class="col-form-label" asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label class="col-form-label" asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group col-6 ">
            <label class="control-label" asp-for="EmployeeType"></label>
            <select asp-for="EmployeeType" class="form-control" asp-items="Html.GetEnumSelectList<EmployeeType>()">
                <option value="">-- Select Employee Type --</option>
			</select>
            </div>

        <div class="form-group col-6 ">
            <label class="control-label" asp-for="Gender"></label> <br/>
			@foreach (Gender gender in Enum.GetValues(typeof(Gender)))
			{
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" asp-for="Gender" value="@gender" />
					<label class="form-check-label" for="Gender">@gender</label>
				</div>
			})))
        </div>


        <div class="form-group col-12 mt-3">
            <label class="col-form-label" asp-for="HiringDate"></label>
            <input type="date" asp-for="HiringDate" class="form-control" />
            <span asp-validation-for="HiringDate" class="text-danger"></span>
        </div>


        <div class="form-group col-12 my-3">
            <div class="form-check">

                <input type="checkbox" asp-for="IsActive" class="form-check-input" />
                <label class=" form-check-label" asp-for="IsActive"></label>
            </div>
        </div>
        <div class="mt-4">
            <input type="submit" value="Create" class="btn btn-primary" /> |
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </div>


    </form>

</div>

