@model CreatedEmployeeDto
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-4">Edit Employee</h1>
    <br />
    <br />



    <partial name="Partials/CreateEditEmployee" />




</div>

@* Part 3 Client-Side Validation *@
@section ValidationScripts {

    <partial name="_ValidationScriptsPartial" />

}

